<section id='shot-list'>
  <p>
    Total:{{getTotal()}}
  </p>
  <p-accordion>
    <p-accordionTab *ngFor="let s of getShots()" >
      <p-header>
          <select (input)='setHole(s.num,$event.target.value)' [value]='s.hole'>
              <option *ngFor="let h of getHoleList()">{{h}}</option>
            </select>
        <span>{{s.hole}} : {{s.num}}</span>
      </p-header>
       <span>{{s.displayYrdsDist()}}yrd</span>
    </p-accordionTab>
  </p-accordion>
  <ul style="height: 500px">
    <li *ngFor="let s of getShots()" >
      <div class="card card-block" style="height:150px; overflow-y:auto"   >
        <h2  >{{s.hole}}</h2>
        <p class="card-title"   >{{s.num}}</p>
        <i class="fa fa-eraser"  aria-hidden="true" (click)='deleteShot(s.num)' ></i>
        <p>{{s.displayYrdsDist()}}yrd</p>
        <select (input)='setHole(s.num,$event.target.value)' [value]='s.hole'>
          <option *ngFor="let h of getHoleList()">{{h}}</option>
        </select>
      </div>    
    </li>
  </ul>
</section>